  *  {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 0.1%;
    text-align: center;
    font-size: 35px;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 1%;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }

  /* Single board */
  .board {
    color: rgb(27, 160, 160);
    width: 13vw;
    height: 11vw;
    margin: 2.5%;
    border: 2px solid #333;
    float: left;
  }

  /* Hover interaction */
  .board:hover {
    background-color: rgb(183, 225, 238);
  }

  /* Information for each player */
  .player.info {
    background-color: #e1eaf0;
    padding: 0.1%;
    text-align: center;
    font-size: 35px;
  }

  /* Full board */
  #boards {
    border: 2px solid #333;
  }

