  *  {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  .header {
    background-color: #f1f1f1;
    padding: 0.2%;
    text-align: center;
    font-size: 35px;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
  }

  /* Single board */
  .board {
    color: rgb(48, 48, 48);
    font-weight: bolder;
    font-size: 9.5vw;
    text-align: center;

    width: 32.7%;
    height: 12vw;
    margin: 0.3%;
    border: 2px solid #333;
    float: left;
  }

  /* Hover interaction */
  .board:hover {
    background-color: rgb(183, 225, 238);
  }

  /* Information for each player */
  .player.info {
    background-color: #e1eaf0;
    padding: 0.1%;
    text-align: center;
    font-size: 4vw;
  }

  /* Full board */
  #boards {
    border: 1px none #333;
    margin: 0 auto;
  }

  /* Restart Button */
  #restart {
    background-color: #55a3bd;
    color: rgb(255, 255, 255);

    border: none;
    border-radius: 7%;

    font-size: 2vw;
    padding: 0.5vw 0.9vw;
  }

  #restart:hover{
    background-color: rgb(74, 194, 194);
  }

